.barra{
    position: relative;
    color: #20C20E;
    text-align: center;
    font-size: 8rem;
    padding: 1px;
}
.pname{
    font-size: 1rem;
    margin: 1px;
}

button{
    height: 4rem;
    width: auto;
    border-color: #20C20E;
    border-radius: 10px;
    color: #20C20E;
    background-color: black; 
    font-size: 2rem;
    font-family: 'Noto Sans Mono', monospace;
}
.letra{
    color: #20C20E;
    font-family: 'Noto Sans Mono', monospace;
}
*{
    color: #20C20E;
    font-family: 'Noto Sans Mono', monospace;
    background-color: black;
}
.menu{
    position: relative;
    display:block;
    padding: 7rem;
    margin-left: 30%;
}
.bviggener{
    padding-top: 7rem;
}
.Menu_cesar{
    display: block;
    position: relative;
    top: -30rem;
    margin-left: 30%;
}
.Menu_viggenere{
    display: none;
    position: relative;
    padding: 7rem;
    margin-left: 30%;
}